.footer {
    height:auto;
}
.foot {
    position: fixed;
  
    left: 0;
    height:300px;
    width:100%;
    z-index: 30;
    background-color: #5c0000;
    border-bottom: 3px solid #f00909;
}
.foot::after {
    clear: both;
    content: "";
    display: block;
}

.footerBar {
    max-width:1200px;
    position: relative;
    margin-right: auto;
    margin-left: auto;
}

.logo {
    width:100px;
    height:97px;
}

.footerBar ul {
    float: right;
    height:100px;
    line-height: 100px;
    margin:0;
}

.footerBar li {
    list-style:none;
    float: left;
    margin: 0 15px;
    color: #ffffff;
    font-size:2rem;
}

.footerBar li a {
    text-decoration: none;
    color: #ffffff;
    transition: 0.5s;
}

.footerBar li a:hover{
    color:#15172b;
}
.imgLogo{
    width: 90%;
    margin-top: 2%;
    margin-left: -10%;
}