.navbar{
  overflow: hidden;
  
  top: 0;
  width: 100%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #ce0909;
  }

  li {
    float:left;
  
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  

  li a:hover {
    background-color: #111;
  }

  ul{
    margin-top: -70%;
    margin-left: -90%;
   
  }

  h1{
    text-align: center;
  }
  h2{
    margin-bottom: -20%;
  }
  